@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.wrapper{
    /* padding: 30px 0px 0px 0px; */
    font-family: 'Roboto Condensed', sans-serif;
}
/* header */
.header{
    background-color: white;
    padding: 30px 0px 0px 0px;
}
.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}
.header_top .header_contact ul.list-contact{
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    text-transform: uppercase;
    align-items: center;
}
.header_top .header_contact ul.list-contact li{
    
    margin-left: 15px;
    font-size: 13px;
}
.header_top .header_contact ul.list-contact li:nth-child(3){
    border:1px solid #eeeeee;
    padding: 5px 20px;
}
.header_top .header_contact ul.list-contact li:nth-child(3) a{
    margin-right: 10px;
}
.header_top .header_contact ul.list-contact li:nth-child(3) a>img{
    margin-right: 5px;
}
.header_top .header_contact ul.list-contact li:nth-child(3) a>span{
    margin-right: 5px;
}
.header_top .header_contact ul.list-contact li a{
    
    color:#7e7f84;
}
.header_top .header_contact ul.list-contact li a:hover{
    text-decoration: none;

}
/* menu */
.header ul.list_item{
    padding: 15px 0;
    list-style: none;
    display: flex;
    margin-bottom: 0px;
    
}
.header ul.list_item li{
    /* padding-right: 15px; */
    text-transform: uppercase;
    position: relative;
    margin-right: 35px;
}
.header ul.list_item li:last-child{
    text-transform: none;
    color:#7e7f84; 
    cursor: pointer;
    position: relative;
}
.header ul.list_item li:last-child input{
    width: 200px;
    height: 30px;
    border-radius:15px;
    outline: none;
    position: absolute;
    z-index: 2;
    border: 1px solid #7e7f84;
    visibility: hidden;
    opacity: 0;
    top: 20%;
    left: 0;
    transition: 0s;
}
.header ul.list_item li:last-child:hover input{
    visibility: visible;
    opacity: 1;
    top: 90%;
    transition: 0.5s;
}
.header ul.list_item li a{
    color:#7e7f84; 
    white-space: nowrap;
}


.header ul.list_item li:last-child a{
    text-transform: none;
}
.header ul.list_item li a:hover{
    color:#f45a40;
    text-decoration: none;
}
/* sub menu */
.header ul.list_item li ul.sub-menu{
    border-top: 2px solid #7e7f84;
    padding: 30px 20px;
    list-style: none;
    width: 200px;
    position: absolute;
    z-index:9999;
    transition: 0s ease;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.35);
    top:20%;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
}
.header ul.list_item li:hover ul.sub-menu{
    visibility: visible;
    opacity: 1;
    top:90%;
    transition: 0.5s ease;
}
.header ul.list_item li ul.sub-menu li:last-child a{
    text-transform: uppercase;
}
.header-mobile .mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-mobile .mobile i{
    cursor: pointer;
}
.navbar-fixed-top{
    position: fixed;
    transition: top 800ms ease 0s;
    top:-60px;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}
.show{
    top: 0;
}
/* header menu mobile */
.header-mobile{
    background-color: #eeeeee;
    display: none;
    margin-bottom: 30px;
    padding: 20px 0px;
}
.mobile .menu-bar i{
    color: #7e7f84;
}

.mobile .menu-bar .menu-mobile-content {
    z-index: 1000;
    top: 0;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 300px;
    transition: 1s ease;
    right: 0;
    background-color: rgba(227, 227, 227, 0.7);
    /* opacity: 0.4; */
}
.mobile .menu-bar .menu-mobile-content .menu-top{
    padding: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mobile .menu-bar .menu-mobile-content .menu-top h4{
    margin-bottom: 0px;
    color: #7e7f84;
}
.mobile .menu-bar .menu-mobile-content .menu-top i{
    
    color: #7e7f84;
}
.mobile .menu-bar .menu-mobile-content .menu-content{
    margin-bottom: 0px;
    padding-left: 0px;
    border-top: 1px solid #67686d;
}
.mobile .menu-bar .menu-mobile-content .menu-content li{
    list-style: none;
    padding: 5px 20px;
    border-bottom: 1px dashed #67686d;
}
.mobile .menu-bar .menu-mobile-content .menu-content .submenu{
    
    padding-left: 20px;
}
.mobile .menu-bar .menu-mobile-content .menu-content li a:hover{
    text-decoration: none;
    color: #f45a40 ;
}
.mobile .menu-bar .menu-mobile-content .menu-content li:nth-child(1)>span{
    position: relative;
    right: -190px;
}

.mobile .menu-bar .menu-mobile-content .menu-content li ul#click1{
    max-height:0;
    overflow: hidden;
}
.mobile .menu-bar .menu-mobile-content .menu-content li ul.active1{
    max-height: 100% !important;
}

.mobile .menu-bar .menu-mobile-content .menu-content li span::before{
    content: '\271A';
    position: absolute;
    cursor: pointer;
}
.mobile .menu-bar .menu-mobile-content .menu-content li span.active1::before{
    content: '\268A';
}
.mobile .menu-bar .menu-mobile-content .menu-content li:last-child{
    border: 0px;
}
.mobile .menu-bar .menu-mobile-content .menu-content li:nth-child(8) a{
    text-transform: none;
}
.mobile .menu-bar .menu-mobile-content .menu-content li>a{
    text-transform: uppercase;
    color: #67686d;
}
.mobile .menu-bar .menu-mobile-content{
    visibility: hidden;
    transition: 0.5s ease;
    right: -100%;
}

.mobile .menu-bar .menu-mobile-content.active{
    visibility: visible;
    transition: 0.5s ease;
    right: 0%;
}
/* slide */
.slide {
    background-color: #e3e3e3;
    color: white;
}
.slide .item div{
    padding: 210px 0px;
}
.slide .item div h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;

}
.slide .item div p{
    width: 50%;
    font-family: 'Roboto', sans-serif;

}
.slide .item div button{
    background-color: red;
    color: white;
    text-transform: uppercase;
    border: 0px;
    font-size: 13px;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}
.slide .item div button:focus{
    outline: none;
}
.slick-dots {
    position: absolute;
    bottom: 125px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff !important;
    background-color: #fff;
    box-shadow: 0px 1px 1px 1px #ababab;
}
.slick-dots li button:before {
    font-size: 14px !important;
    border: 3px solid #fff !important;
    border-radius: 50% !important;
    color: transparent !important;
    opacity: 0.75 !important;
}
/* banner */
.banner{
    padding: 30px 0px;
}
.banner .banner-content .banner-img img{
    width: 100%;
}
/* .banner .col-md-4{
    padding-left: 0px;
} */
.banner .banner-content .banner-desc {
    padding: 20px 0px;
}
.banner .banner-content .banner-desc h5{
    text-transform: uppercase;
    margin-bottom: 13px;
}
.banner .banner-content .banner-desc h5 a{
    color: #f45a40;
}
.banner .banner-content .banner-desc span{
    font-size: 14px;
    
    color: #7e7f84;
}
/* product */
.product .container{
    padding: 0;
}
.product .product-content .product-title{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.product .product-content .product-title h4{
    font-size: 23px;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0px 26px;
    color: #67686d;
}
.product .product-content .product-title div{
    /* content: ''; */
    width: 100%;
    background-color: #eeeeee;
    height: 2px;
}
.product .product-slide .item{ 
    padding: 0px 15px ;
    /* border: 1px solid red; */
}
.product .product-slide .item .item-content{
    background-color: #fff;
    border:1px solid #eeeeee; 
}
.product .product-slide .item .item-content .item-img .item-bg{
    background-color: #e3e3e3;
    height: 175px;
}
.product .product-slide .item .item-content .item-img .item-bg .item-bgstar{
    padding: 10px;
    display: flex;
}
.product .product-slide .item .item-content .item-img .item-bg .item-bgstar img{
    padding-right: 2px;
}
.product .product-slide .item .item-content .item-img .item-image {
    border-top:1px solid #eeeeee;
    overflow-x: scroll;
    display: flex;
}
#style-2::-webkit-scrollbar-track
{
    background-color: #e3e3e3;
}

#style-2::-webkit-scrollbar
{
    height: 3px;
    background-color: #e3e3e3;
}

#style-2::-webkit-scrollbar-thumb
{
    background-color: #636363;
}
.product .product-slide .item .item-content .item-img .item-image img{
    width: 100%;
    float: left;

}
.slick-prev {
    left: -5px !important;
    background-color: white !important;
    color: black !important;
    z-index: 20;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.slick-prev::before {
    content: '\3C' !important;
    color: #8a8b90 !important;
    font-size: 20px;
    /* background-color: black !important; */
}
.slick-next {
    right: -5px !important;
    background-color: white !important;
    color: black !important;
    z-index: 20;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.slick-next::before {
    content: '\3E' !important;
    color: #8a8b90 !important;
    font-size: 20px;
    /* background-color: black !important; */
}

.product-slide .item .item-content .item-desc{
    padding: 20px;
}
.product-slide .item .item-content .item-desc h4{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    white-space: nowrap;
    color: #67686d;
}
.product-slide .item .item-content .item-desc p{
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 16px;
    font-style: italic;
    white-space: nowrap;
    color: #67686d;
}
.product-slide .item .item-content .item-desc span{
    font-size: 14px;
    color: #7e7f84;
}
.product-slide .item .item-content .item-desc div{
    padding-bottom: 15px;
    /* border-bottom: 1px solid #eeeeee; */
}


.product-slide .item .item-content .item-desc .item-price{
    border-top: 1px solid #eeeeee;
    padding: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-slide .item .item-content .item-desc .item-price span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f45a40;
} 
.product-slide .item .item-content .item-desc .item-price span img{
    padding-left: 5px;
}
/* biruang free psd */
.biruang {
    padding: 65px 0px;
}
.biruang .biruang_free h4{
    color: #67686d;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}
.biruang .biruang_free h4>span{
    color: #f45a40;
}
.biruang .biruang_free ul.free_psd{
    color: #777777;
    text-transform: uppercase;
    font-size: 15px;
    padding: 30px 0px 45px 0px;
    margin-bottom: 0px;
    list-style: none;
}
.biruang .biruang_free ul.icon{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.biruang .biruang_free ul.icon>li>a{
    color: #656363;
    padding-right: 25px;
    font-family: 'Roboto', sans-serif;
}
.biruang .biruang_free ul.icon>li>a:hover{
    color: #ef4035;
}
.biruang .free{
    margin: 59px 0px 0px 0px;
    border-left: 1px solid #eeeeee;
}
.biruang .free div{
    font-size: 12px;
    font-style: italic;
    margin-left: 20px;
    color: #7e7f84;
}
.biruang .map img{
    width: 100%;
    position: relative;
}
.biruang .map .map-button{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 10%;
}
.biruang .map .map-button div{
    padding:0px 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.biruang .map .map-button div.cong{
    background-color: #f45a40;
    border-radius: 5px 5px 0px 0px;
}
.biruang .map .map-button div.tru{
    background-color: #2a2d34;
    border-top: 1px solid #eeeeee;
    border-radius: 0px 0px 5px 5px;
}
.biruang .map .marker{
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 60%;
}
.biruang .map .marker img:nth-child(1){
    width: 100%;
    position: relative;
}
.biruang .map .marker img:nth-child(2){
    width: 20%;
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 40%;
}

.biruang .map .address {
    display: flex;
    width: 100%;
}
.biruang .map .address .title{
    color: #fff;
    width: 100%;
    background-color: #2a2d34;
    padding: 20px 30px;
    border-right: 1px solid #1d2025;
    font-size: 14px;
}
.biruang .map .address .icon-marker{
    background-color: #2a2d34;
    padding: 20px 20px;
    color: #fff;
}
/* sign-up */
.sign_up{
    background-color: #f45a40;
    padding: 30px 0px;
}
.sign_up .test{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign_up h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px;
    font-size: 25px;
}
.sign_up .sign {
    display: flex;
    justify-content: space-between;
}
.sign_up .sign input{
    letter-spacing: 1px;
    border: 0px;
    padding: 10px 20px;
    color: #7e7f84;
}
.sign_up .sign input:focus{
    outline: none;
}
.sign_up .sign button{
    background-color: #ff674f;
    letter-spacing: 2px;
    border: 0px;
    padding: 10px 20px;
    color: #fff;
    margin-left: 20px;
}
.sign_up .sign button:focus{
    outline: none;
}
/* footer */
.footer {
    background-color: #2a2d34;
}
.footer .footer_content{
    padding: 45px 0px;
}
.footer .footer_content .our_stores h3{
    text-transform: uppercase;
    color: white;
}
/* .footer .footer_content .col-md-3{
    padding: 0px;
} */
.footer .footer_content .our_stores p{
    font-family: 'Roboto', sans-serif;
    color: #7e7f84;
    font-size: 14px;
}
.footer .footer_content .our_stores ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.footer .footer_content .our_stores ul>li>a{
    color: #fff;
    padding-right: 25px;
    font-family: 'Roboto', sans-serif;
}
.footer .footer_content .our_stores ul>li>a:hover{
    color: #ef4035;
}
.footer .footer_content .blog_post h3{
    text-transform: uppercase;
    color: white;
}
.footer .footer_content .blog_post .item{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.footer .footer_content .blog_post h5{
    font-size: 15px;
    color: #fff;
}
.footer .footer_content .blog_post p{
    font-size: 15px;
    color: #7e7f84;
}
.footer .footer_content .support h3{
    text-transform: uppercase;
    color: white;
}
.footer .footer_content .support div {
    display: flex;
    justify-content: space-between;
}
.footer .footer_content .support div ul{
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}
.footer .footer_content .support div ul>li>a{
    color: #7e7f84;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.footer .footer_content .support div ul>li>a:hover{
    color: #ef4035;
}
.footer .footer_content .contact h3{
    text-transform: uppercase;
    color: #fff;
}
.footer .footer_content .contact .content-contact input{
    width: 100%;
    font-size: 12px;
    padding: 10px 0px 10px 20px;
    margin-bottom: 20px;
    color: #939498;
}
.footer .footer_content .contact .content-contact input:focus{
    outline: none;
}
.footer .footer_content .contact .content-contact input:nth-child(2){
    width: 100%;
    font-size: 12px;
    padding: 10px 0px 60px 20px;
    margin-bottom: 20px;
    color: #939498;
}
.footer .footer_content .contact .content-contact button{
    border: 0px;
    font-size: 12px;
    padding: 10px 20px;
    background-color: #ef4035;
    color: #fff;
    letter-spacing: 2px;
}
.footer .footer_content .contact .content-contact button:focus{
    outline: none;
}
@media(max-width:1024px){
    .header ul.list_item li{
        margin-right: 30px;
    }
    .slide .item div{
        padding: 180px 0px;
    }
    .product-slide .item .item-content .item-desc h4{
        font-size: 18px;
    }
}
@media(max-width:991px){
    /* .header ul.list_item li{
        margin-right: 25px;
    } */
    .slide .item div{
        padding: 160px 0px;
    }
    /* .footer .footer_content .col-md-3{
        padding: 15px;
    } */
}
@media(max-width:480px){
    
    .slide .item div{
        padding: 90px 15px;
    }
    .slide .item div h1{
        font-size: 30px;
    }
    .product-slide .item .item-content .item-desc h4{
        font-size: 14px;
    }
    .sign_up h3 {
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0px;
        font-size: 15px;
    }
    .sign_up .sign input {
        font-size: 10px;
    }
    .sign_up .sign button {
        font-size: 10px;
    }
    .footer .footer_content .our_stores{
        padding-bottom: 35px;
    }
    .footer .footer_content .blog_post{
        padding-bottom: 35px;
    }
    .footer .footer_content .support{
        padding-bottom: 35px;
    }
    .header-mobile{
        display: block;
    }
    .header{
        display: none;
    }
    .navbar-fixed-top{
        position: fixed;
        transition: top 800ms ease 0s;
        top:-60px;
        width: 100%;
        z-index: 1000;
        
    }
    .show{
        top: 0;
    }
}
